<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>與你相遇的10光│三立新聞網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="與你相遇的10光│三立新聞網" />
    <meta name="description"
        content="三立新聞網SETN開站十週年！10年來三立新聞網創下不少里程碑，快和我們一起回顧熱門精選新聞，看完100篇新聞有機會抽到iPad，另外每日打卡還可抽超商禮券，歡迎舊雨新知踴躍參加。" />
    <meta name="Keywords" content="SETN,三立新聞網,十週年,台灣新聞回顧,新聞,打卡,iphone,10年,里程碑" />
    <meta property="og:title" content="與你相遇的10光│三立新聞網" />
    <meta property="og:description"
        content="三立新聞網SETN開站十週年！10年來三立新聞網創下不少里程碑，快和我們一起回顧熱門精選新聞，看完100篇新聞有機會抽到iPad，另外每日打卡還可抽超商禮券，歡迎舊雨新知踴躍參加。" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta property="og:image" content="https://acts.setn.com/event/2023setntime/images/1200x630.jpg" />
    <meta property="og:url" content="https://acts.setn.com/event/2023setntime" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/menber.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://www.setn.com/resources/OwlCarousel2-2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="dist/tiny-slider.css">
    <link rel="stylesheet" href="css/tiny_styles.css">
    <!--[if (IE 8)&!(IEMobile)]><script src="../dist/tiny-slider.helper.ie8.js"></script><![endif]-->
    <script src="./js/vue.min.js"></script>

    <!-- Google Tag Manager -->
    <script> (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-NZ3723M'); </script>
    <!-- End Google Tag Manager -->
    <!-- Begin comScore Tag -->
    <script> var _comscore = _comscore || []; _comscore.push({ c1: "2", c2: "20617561" }); (function () { var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true; s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js"; el.parentNode.insertBefore(s, el); })(); </script>
    <!-- End comScore Tag -->
    
</head>

<body>
    <!-- 主內容 Start -->
    <h1>與你相遇的10光</h1>
    <div class="bg-icon" id="app" v-cloak>
        <div class="share_bt">
            <ul>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://acts.setn.com/event/2023setntime/index.html" target="_blank" title="Facebook分享"><img src="images/FB_icon.svg"></a></li>
                <li><a href="https://social-plugins.line.me/lineit/share?url=https://acts.setn.com/event/2023setntime/index.html" target="_blank" title="Line分享"><img src="images/Line_icon.svg"></a></li>
            </ul>
        </div>
        <div class="content-h">
            <a href=""><img src="./images/SETN-logo-W.png" alt="SETN" class="logo"></a>
            <div class="container">
                <section>
                    <div class="menber-title bounceIn">
                        <img src="./images/cupTitle.svg" alt="會員打卡獎"
                            style="position: relative;z-index: 5;filter: drop-shadow(6px 6px 5px rgba(0,0,0,.5));">
                        <img src="./images/time.png" alt="時光轉盤" class="turnon"
                            style="position: absolute;z-index: 1;margin: 0 40px;width: 460px;top: 0;">
                    </div>
                    <img src="./images/cupTitle.png" class="mob-bg">
                    <div class="cup-rule">
                        和三立新聞網一起回顧與你相遇的10年，<br>
                        留下了哪些深刻回憶......？<br>
                        瀏覽精選時光新聞，<br>
                        完成各階段目標篇數即可抽指定獎品！
                    </div>
                </section>
                <section class="cup-block">
                    <div class="cup-info">
                        <!-- <div class="challenge">挑戰!個人里程杯</div> -->
                        <!-- 不重複瀏覽累積區塊 未登入前先顯示0篇-->
                        <div class="count">不重複瀏覽累積：<span>{{score}}</span>篇</div>
                        <div v-if="user.id == ''" class="login" @click="toggleDialog('SIGNIN')">請登入活動編號</div>
                        <div v-else class="login" @click="toggleDialog('SIGNIN')"><span>活動編號</span><b>{{ user.id }}</b>
                        </div>
                    </div>
                    <div class="cup-pic">
                        <ul>
                            <li v-for="milestone in milestones" class="unfinished"
                                :class="{finished: milestone.isFinished}" :style="{left: milestone.postsNum + '%'}">
                                <b>完成瀏覽{{ milestone.postsNum }}篇</b>
                            </li>
                        </ul>
                        <div class="acc-border"></div>
                        <div class="acc-line" :style="progressBar"></div>
                    </div>
                </section>
                <section class="news-block">
                    <div class="slider-container">
                        <div class="nav_arrow">
                            <img src="./images/leftarrow.svg" class="arrowleft">
                            <img src="./images/rightarrow.svg" class="arrowright">
                        </div>
                        <div>
                            <div class="base" id="base">
                                <div class="item" v-for="(title, i) in topic.titles">
                                    <div class="img" :class="'img-' + (i + 1)">
                                        <a href="#base" @click="activateTopic(i)"
                                            :class="topic.index == i ? 'img-click' : ''">{{title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <news-box :news="news" @score-up="scoreUp" @get-news="getNews"></news-box>
                </section>
            </div>
        </div>
        <div id="dialog">
            <div class="black_overlay" v-show="dialog != ''"></div>
            <!-- 登入頁 Start -->
            <div class="popup" v-show="dialog == 'SIGNIN'">
                <div class="popupbox">
                    <div class="login-block">
                        <div class="closed" @click="toggleDialog('SIGNIN')">
                            <img src="images/closed.png">
                        </div>
                        <div class="loginbox">
                            <p class="login-title">活動已結束</p>
                            <!-- <input type="text" v-model="user.id">
                            <div class="summit" @click="signIn()">送出</div> -->
                            <!-- 點擊顯示myId page -->
                            <!-- <span @click="toggleDialog('MYID')">Q：會員活動編號在哪裡</span>
                            <p>【溫馨提醒】請開啟三立新聞網APP取得您的「會員活動編號」，將於活動結束後發送相關兌獎訊息，<br>為維護您的得獎權益請自行維護。按下送出鍵後則無法修改。</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 登入頁 End -->
            <!-- myIdPage Start -->
            <div class="popup" v-show="dialog == 'MYID'">
                <div class="popupbox ">
                    <div class="iphonebox">
                        <div class="closed" @click="toggleDialog('SIGNIN')">
                            <a>
                                <img src="images/closed.png">
                            </a>
                        </div>
                        <div class="iphone">
                            <img src="images/myid.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- myIdPage End -->
        </div>
    </div>
    <!-- 主內容 End -->
    <!-- Menu Start -->
    <nav class="menu-block">
        <ul class="menu-area">
            <a href="index.html">
                <li>活動首頁</li>
            </a>|
            <a href="spinToWin.html">
                <li>10來運轉</li>
            </a>|
            <a href="once.html" class="active">
                <li>10年一遇</li>
            </a>|
            <a href="winner_list.html">
                <li>得獎名單</li>
            </a>|
        </ul>
    </nav>
    <!-- Menu End -->
    <!-- footer Start -->
    <footer>
        <div class="copyrightbox">
            ©2023 Sanlih E-Television All Rights Reserved<p class="copyright">版權所有 盜用必究</p>
        </div>
    </footer>
    <!-- footer End -->
    <script src="./js/jquery.min.js"></script>
    <script src="https://www.setn.com/resources/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <script src="dist/min/tiny-slider.js"></script>
    <script src="./js/main.js"></script>

    <script>
        var doc = document,
            win = window,
            ww = win.innerWidth || doc.documentElement.clientWidth || doc.body.clientWidth,
            fw = getFW(ww),
            sliders = new Object();

        function getFW(width) {
            var sm = 400, md = 900, lg = 1400;
            return width < sm ? 150 : width >= sm && width < md ? 200 : width >= md && width < lg ? 300 : 400;
        }

        window.addEventListener(
            'resize',
            function () {
                fw = getFW(ww);
            }
        );

        var options = {
            'base': {
                container: '',
                items: 4,
                loop: false,
                slideBy: 'page',
                mouseDrag: true,
                controlsContainer: ".nav_arrow",
                edgePadding: 0
            },

        };

        for (var i in options) {
            var item = options[i];
            item.container = '#' + i;
            item.swipeAngle = false;
            if (doc.querySelector(item.container)) {
                sliders[i] = tns(options[i]);
            }
        }
    </script>
</body>

</html>